
.container {
    width: 800px;
    display: grid;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr); 

  }
  

  .white {
    background-color: #f0d9b5;
    height: 100px;
    width: 100px;
  }

  .black {
    background-color: #b58863;
    height: 100px;
    width: 100px;
  }
